<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/travel_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/travel_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravalRecommendations"
        tools:targetApi="31">
        <activity
            android:name="surendraKummara.s3287724.travalrecommendations.SavedPlansActivity"
            android:exported="false" />
        <activity
            android:name="surendraKummara.s3287724.travalrecommendations.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name="surendraKummara.s3287724.travalrecommendations.ManageProfileActivity"
            android:exported="false" />
        <activity
            android:name="surendraKummara.s3287724.travalrecommendations.PlaceLocationActivity"
            android:exported="false" />
        <activity
            android:name="surendraKummara.s3287724.travalrecommendations.ReviewsActivity"
            android:exported="false" />
        <activity
            android:name="surendraKummara.s3287724.travalrecommendations.ViewHostelsActivity"
            android:exported="false" />
        <activity
            android:name="surendraKummara.s3287724.travalrecommendations.PlaceDetailsActivity"
            android:exported="false" />
        <activity
            android:name="surendraKummara.s3287724.travalrecommendations.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name="surendraKummara.s3287724.travalrecommendations.SearchDestinationActivity"
            android:exported="false" />
        <activity
            android:name="surendraKummara.s3287724.travalrecommendations.PlanTripActivity"
            android:exported="false" />
        <activity
            android:name="surendraKummara.s3287724.travalrecommendations.TravelDashboardActivity"
            android:exported="false" />
        <activity
            android:name="surendraKummara.s3287724.travalrecommendations.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="surendraKummara.s3287724.travalrecommendations.LoginActivity"
            android:exported="false" />
        <activity
            android:name="surendraKummara.s3287724.travalrecommendations.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TravalRecommendations">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBbjh-tqqnt6bChHRv8ZI9wY0R9w5Z_MSI" />
    </application>

</manifest>